.idea
.svn
.DS_Store
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.dist
dist-*
/pages
client
dist
storybook-static
spriteTemp
svnTemp
spriteRev
.next
test.*
!test.yml
tests/reports
src/**/*.scss.ts
src/**/*.scss.json
sprite-rev
sprite-temp
spriteTemp
spriteRev
*.zip
*.tar.gz
.eslintcache
.stylelintcache
/logs
*.log
/.fly
mock-cache
.history
scripts/analyze-dependency/dependency-tree.json
scripts/analyze-dependency/dependency-tree-generate.json
build/production/size-limit-plugin-build-info.json
tsconfig.tsbuildinfo
.codecc
.cssrem
.yalc
yalc.lock
.env


.vscode/*
!.vscode/launch.json
!.vscode/settings.json
.vscode


.skott